@import "tailwindcss";

/* Colors are based around shadcn color schemes: https://ui.shadcn.com/colors */

:root {
  /* Base theme colors */
  --background: oklch(0.99 0 0); /* neutral-50 */
  --foreground: oklch(0.14 0 0); /* neutral-950 */

  --primary: oklch(0.14 0 0); /* neutral-950 */
  --primary-foreground: oklch(0.97 0 0); /* neutral-100 */

  --secondary: oklch(0.97 0 0); /* neutral-100 */
  --secondary-foreground: oklch(0.14 0 0); /* neutral-950 */

  --muted: oklch(0.97 0 0); /* neutral-100 */
  --muted-foreground: oklch(0.56 0 0); /* neutral-500 */

  --accent: oklch(0.97 0 0); /* neutral-100 */
  --accent-foreground: oklch(0.14 0 0); /* neutral-950 */

  /* Attention-getting colors */
  --info: oklch(0.61 0.22 293); /* violet-500 */
  --info-foreground: oklch(0.61 0.22 293); /* violet-500 */

  --success: oklch(0.63 0.17 149); /* green-600 */
  --success-foreground: oklch(0.63 0.17 149); /* green-600 */

  --warning: oklch(0.7 0.19 48); /* orange-500 */
  --warning-foreground: oklch(0.7 0.19 48); /* orange-500 */

  --destructive: oklch(0.577 0.245 27.325); /* red-600 */
  --destructive-foreground: oklch(0.577 0.245 27.325); /* red-600 */

  /* Specific elements */
  --card: oklch(0.97 0 0); /* neutral-100 */
  --card-foreground: oklch(0.14 0 0); /* neutral-950 */
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);

  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);

  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);

  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);

  /* Attention-getting colors */
  --color-info: var(--info);
  --color-info-foreground: var(--info-foreground);

  --color-success: var(--success);
  --color-success-foreground: var(--success-foreground);

  --color-warning: var(--warning);
  --color-warning-foreground: var(--warning-foreground);

  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);

  /* Specific elements */
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);

  /* Typography */
  --font-sans:
    "Source Sans 3", ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-serif:
    "Source Serif 4", ui-serif, Georgia, Cambria, "Times New Roman", Times,
    serif;
  --font-mono:
    "Source Code Pro", ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas,
    "Liberation Mono", "Courier New", monospace;

  --font-display: var(--font-serif);
}
